////////// width 1320
@media all and (max-width: 82.5em) {
  html {
    font-size: 56.25%;
  }

  .header-section__video-box video {
    transform: translate(0);
  }
  .nav-list {
    gap: 2.8rem;
  }
  .why-section__content-box {
    padding: 0 2.4rem;
    .paragraph {
      padding-right: 0;
    }
  }
  // .customizable-content {
  //   padding: 0 4rem;
  // }
  .video-section__video-box video {
    height: 110vh;
  }
}
/////////// width 1120
@media all and (max-width: 70em) {
  html {
    font-size: 52%;
  }

  .header-section {
    padding-bottom: 6.2rem;
  }
  .nav {
    justify-content: space-around;
    .btns__btn:last-child {
      display: none;
    }
  }
  .point-list {
    padding: 2rem 1.6rem;
  }
}
/////// width 1050
@media all and (max-width: 65.25em) {
  .heading-primary {
    font-size: 6rem;
  }
  .header-section {
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    text-align: center;
    &::before {
      background-size: 75%;
    }
    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__video-box video {
      width: 100%;
      height: 100vh;
      object-fit: contain;
    }
  }
  .nav {
    display: none;
  }
  .nav-mobile-wrapper--open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
  .nav-mobile-header {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
  .point-data__text-box .heading-tertiary {
    line-height: 1.4;
    letter-spacing: 1.5px;
  }
  .logos-content {
    flex-wrap: wrap;
    gap: 4.2rem;
  }
  .video-section {
    display: none;
    padding: 0;
  }
}
