////////// width 1320
@media all and (max-width: 82.5em) {
  html {
    font-size: 56.25%;
  }
  .header-section {
    padding-bottom: 0;
  }
  .header-section__video-box video {
    transform: translate(0);
  }
  .nav-list {
    gap: 2.8rem;
  }
  .why-section__content-box {
    padding: 0 2.4rem;
    .paragraph {
      padding-right: 0;
    }
  }
  .customizable-content {
    padding: 0 4rem;
  }
  .video-section__video-box video {
    height: 110vh;
  }
}
/////////// width 1120
@media all and (max-width: 70em) {
  html {
    font-size: 52%;
  }

  .header-section {
    padding-bottom: 6.2rem;
  }
  .nav {
    justify-content: space-around;
    .btns__btn:last-child {
      display: none;
    }
  }
  .point-list {
    padding: 2rem 1.6rem;
  }
}
/////// width 1050
@media all and (max-width: 65.25em) {
  .heading-primary {
    font-size: 6rem;
  }
  .header-section {
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    text-align: center;
    &::before {
      background-size: 75%;
    }
    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__video-box video {
      width: 100%;
      object-fit: contain;
    }
  }
  .nav {
    display: none;
  }
  .nav-mobile-wrapper--open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
  .nav-mobile-header {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
  .point-data__text-box .heading-tertiary {
    line-height: 1.4;
    letter-spacing: 1.5px;
  }
  .logos-content {
    gap: 3.6rem;
    flex-wrap: wrap;
    &-image {
      width: 10rem;
    }
  }
  .video-section {
    display: none;
    padding: 0;
  }
  .offer-items__content {
    padding: 0.8rem 2.4rem;
  }
  .why-section {
    padding: 5.2rem 0;
  }
}
/////////// width 960
@media all and (max-width: 62.5em) {
  .point-list {
    text-align: center;
    padding: 3.2rem;
    flex-direction: column;
    border-radius: 3rem;
    margin: 0 2.4rem;
  }
  .point-link--new::before {
    top: -20%;
    left: 85%;
  }
  .point-data--small-screen {
    display: block;
    background-color: $whiteColor;
    width: 100%;

    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .point-data--big-screen {
    display: none;
  }
  .header-section__video-box {
    padding: 0 2.4rem;
  }
}
/////////// width 880
@media all and (max-width: 55em) {
  .container {
    padding: 0 4rem;
  }
  .why-section__content-box {
    grid-template-columns: 1fr 1fr;
  }
  .heading-secondary {
    font-size: 4rem;
  }
  .offer-section {
    .heading-secondary {
      margin-bottom: 3.6rem;
    }
    .container {
      padding: 0;
    }
  }

  .offer-items {
    grid-template-columns: 0.8fr;
  }
  .offer-items__new {
    display: none;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .paragraph {
    font-size: 1.8rem;
  }
  .customizable-content {
    grid-template-columns: 1fr;
  }
  .customizable-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
///////////////////// width 675
@media all and (max-width: 42.18em) {
  html {
    font-size: 43.75%;
  }
  .paragraph {
    font-size: 1.4rem;
  }
  .logos-content__image {
    width: 8rem;
  }
  .why-section__content-box {
    grid-template-columns: 1fr;
  }
  .offer-items {
    padding: 0;
  }
  .offer-items__item {
    grid-template-columns: 1fr;
  }
  .offer-items__img {
    height: 35rem;
    border-bottom-right-radius: 1rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
    margin-bottom: 3rem;
  }
  .form-image {
    display: none;
  }
  .form-wrapper {
    grid-template-columns: 1fr;
  }
  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4.8rem;
  }
  .footer-box:first-child {
    grid-column: 1/-1;
    .footer-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      &-item {
        &:first-child {
          display: none;
        }
      }
    }
  }
  .footer-privacy__list {
    flex-wrap: wrap;
  }
}
////450px
@media all and (max-width: 28.12em) {
  .offer-items {
    grid-template-columns: 1fr;
  }
  .offer-items__img {
    height: 25rem;
  }

  .nav-mobile-number:link {
    font-size: 1.6rem;
  }
  .point-list {
    margin: 0;
  }
  .point-data__text-box {
    .btns {
      flex-direction: column;
      margin-bottom: 2.4rem;
    }
  }
  .nav-mobile-number {
    &::after,
    &::before {
      display: none;
    }
  }
  .form-data {
    .heading-secondary {
      font-size: 2.2rem;
    }
  }
  .nav-mobile-number-icon {
    display: none;
  }
  .info-list {
    padding: 0;
  }
  .info-list-item {
    line-height: 2.2rem;
  }
}
