@font-face {
  font-family: "sansProBold";
  src: url("../../fonts/source-sans-pro/SourceSansPro-Bold.otf")
    format("OpenType");
}
@font-face {
  font-family: "sansProReg";
  src: url("../../fonts/source-sans-pro/SourceSansPro-Regular.otf")
    format("OpenType");
}
@font-face {
  font-family: "sansProSemi";
  src: url("../../fonts/source-sans-pro/SourceSansPro-Semibold.otf")
    format("OpenType");
}
@font-face {
  font-family: "EffraMedium";
  src: url("../../fonts/effra/Effra_Trial_Md.ttf") format("OpenType");
}
@font-face {
  font-family: "EffraRegular";
  src: url("../../fonts/effra/Effra_Trial_Rg.ttf") format("OpenType");
}
