// margins

.margin-small {
  margin-bottom: 2.4rem;
}
.margin-medium {
  margin-bottom: 3.2rem;
}
// grid
.grid {
  display: grid;
  align-content: center;
  justify-content: center;
}
.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}
.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
//border-radius
.border-radius-large {
  border-radius: 600rem;
}
//icon
.icon {
  width: 1.6rem;
}
//sup
.sup {
  font-size: 1.2rem;
}
//textalign center
.center {
  justify-content: center;
  margin-bottom: 0;
}
