// fonts
$firstFontBold: "sansProBold";
$firstFontRegular: "sansProReg";
$firstFontSemiBold: "sansProSemi";
$secondFontsMedium: "EffraMedium";
$secondFontsRegular: "EffraRegular";
// Colors
$textColor: #252a35;
$whiteColor: #fff;
$blackColor: #000;
$textGrayColor: #666666;
$lightGray: #f7f7f7;
$darkGray: #c0c0c0;
$TextlightGray: #4e5260;
$lightGrayBg: #fafafa;
$firstColor: #2b4fb9;
$secondColor: #002182;
$mainColor: #fe4c00;
$headingColor: #252525;
$yellowColor: #fed850;
$terminalYellow: #ffb700;
$locationGray: #e7eaf6;
$moreLocationPink: #dd55d2;

//line-height
$lineHeightParagraph: 1.8;
